config/prisma/contract.json linguist-generated
config/prisma/contract.d.ts linguist-generated
config/prisma/ops.json linguist-generated
config/prisma/migration.json linguist-generated
migrations/snapshots/**/contract.json linguist-generated
migrations/snapshots/**/contract.d.ts linguist-generated
